.container {
    height: 100%;
    font-size: 20px;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    font-family: "Segoe UI",Arial,sans-serif;
    color:rgba(36, 43, 56, 1);
    padding: 5% 10%;
}

span {
    display: inline;
}

p {
    padding-left: 20%;
}

input[type=text]:focus {
    box-shadow: lavender;
    outline-color: cadetblue;
}

input {
    margin: auto 10%;
    width: 70%!important;
}

button:focus {
    outline: none;
}

button:hover {
    opacity: 0.7;
    color: lavender;
}

img.image {
    position: absolute;
    left:0;
    top: 0;
    width:100%;
    height: auto;
    opacity: 0.5;
}

.number {
    font-family: "Comic Sans MS", cursive;
}

.card {
    background-color:rgba(239,224,205,0.5);
}

.box {
    display: flex;
    float: right;
    margin: 5% 10%;
}

.w3-theme-gradient {
    color: #ecf1f1 !important;
    background:-webkit-linear-gradient(top, #a26a7a 25%, #f54242 75%)}
.w3-theme-gradient {
    color: #ecf1f1 !important;
    background:-moz-linear-gradient(top, #a26a7a 25%, #f54242 75%)}
.w3-theme-gradient {
    color: #ecf1f1 !important;
    background:-o-linear-gradient(top, #a26a7a 25%, #f54242 75%)}
.w3-theme-gradient {
    color: #ecf1f1 !important;
    background:-ms-linear-gradient(top, #a26a7a 25%, #f54242 75%)}
.w3-theme-gradient {
    color: #ecf1f1 !important;
    background: linear-gradient(top, #a26a7a 25%, #f54242 75%)}